#viewpane{
    -fx-background-image: url("view.jpg");
    -fx-background-size: 750 500;
}
#felvetelpane{
    -fx-background-image: url("picture.png");
    -fx-background-size: 750 500;
}
#raktarpane {
    -fx-background-image: url("picture2.png");
    -fx-background-size: 750 500;
}
